<main class="app">
  <div class="app-main">
    <form>
      <h1>Angular To Do List App</h1>
      <div>
        <input
          type="text"
          class="input"
          (change)="onInput($event)"
          placeholder="Enter task"
        />
        <button class="btn btn-primary" type="button" (click)="onSubmit()">
          Add
        </button>
      </div>
      <div>
        <ul>
          <li *ngFor="let item of items">
            <input type="checkbox" /> {{ item }}
          </li>
        </ul>
      </div>
      <h2 style="color: green">Completed tasks</h2>
      <div>
        <ul></ul>
      </div>
    </form>
  </div>
  <!-- <router-outlet></router-outlet> -->
</main>
