/* You can add global styles to this file, and also import other style files */
body {
  background: #18387a;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  // overflow: hidden;
}

html {
  height: 100%;
  width: 100%;
}

.app {
  width: 100%;
  height: 100%;
}
